{% set page = get_page(path="home/Uyap.md") %}
<h3>{{ page.title }}</h3>
{{ page.content | safe }}

    <form
        id="kaomojiForm"
        action="https://www.w3schools.com/action_page.php"
        method="POST"
        class="form-group"
      >
        <textarea
          id="messageTextarea"
          name="message"
          placeholder="Write your message here..."
          class="message-input"
        ></textarea>

        <div class="buttonGroup">
            {% for item in page.extra.emoji %}
                {% set emoji_data = item.emoji_data %}
                {% set id = item.id %}

                <button type="button" class="kaomoji-btn" id="{{id}}" data-kaomoji-val="{{emoji_data}}">
                {{emoji_data}}
                </button>

            {% endfor %}
          <div></div>

          <button type="submit" id="send-btn">Send➤</button>
        </div>
      </form>
      