* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(35, 6, 35, 0.405), rgba(35, 10, 35, 0.405)), url();
  background-attachment: fixed;
  background-size: contain;
  background-color: rgba(71, 61, 139, 0.6);
  padding-bottom: 5vh;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
  width: 35%;
  border-radius: 10px;
  align-items: baseline;
}

.navbar div {
  margin: 4px;
}

.navbar div a {
  position: relative;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

.navbar a:hover,
#yappybara:hover {
  background: #ddd;
  color: black;
}

#yappybara {
  width: 50px;
  margin: 5px;
  float: left;
  padding: 3px;
  border-radius: 10px;
}

.content {
  width: 35%;
  height: max-content;
  max-height: 150vh;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 0.5%;
  padding: 2% 3%;
  background-color: plum;
  display: flex;
  flex-direction: column;
}


#weblogs {
  list-style-type: none;
}

#weblogs li {
  margin-bottom: 2%;
}

#weblogs li a {
  text-decoration: none;
  margin-left: 5px;
  color: black;
}

#weblogs li span img {
  width: 20px;
}

#weblogs li:hover a {
  color: purple;
}


.carousel {
  margin: 5% auto;
  width: 90%;
  display: flex;
  overflow-x: hidden;
  align-items: center;
}

.carouselGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding-right: 1em;
  animation: spin 10s infinite linear;
  padding-right: 10em;
}

.carouselItem {
  display: flex;
  margin: 0 1%;
  border: 2px black solid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  background-color: gray;
  border-radius: 5px;
  flex: 0 0 auto;
  height: 5em;
  padding: 1em;
  font-size: 1em;
}

.carouselImg {
  width: 50px;
  margin: 5px;
  border: 2px black solid;
  border-radius: 10px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carouselImg>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel:hover .carouselItem {
  filter: brightness(70%);
  transition: all 0.3s ease;
}

.carousel:hover .carouselItem:hover {
  filter: none;
  transform: scale(1.02);
  border: 2px white solid;
  z-index: 10;
}

.carousel:hover .carouselGroup {
  animation-play-state: paused;
}

#help {
  text-align: center;
  margin: 1px auto;
}

@keyframes spin {
  form {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.projects ol li a {
  text-decoration: none;
  color: green;
}

.projects ol li a:hover {
  color: lime;
}

.services,
.socials {
  display: flex;
  flex-wrap: wrap;
}



.social:hover {
  background-color: darkgray;
}

.service,
.social {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 5px;
  margin: 2px;
  background-color: gray;
  border-radius: 5px;
}

.social {
  border-radius: 10px;
}

.social a {
  text-decoration: none;
  color: black;
}

.loader,
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
}

.icon {
  width: 20px;
  height: 20px;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: lime;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin-bottom: 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: gray;
  resize: none;
}

textarea:focus {
  border-color: #ccc;
  outline: none;
}

.buttonGroup {
  margin: 0;
  background-color: gray;
  display: flex;
}

.kaomoji-btn:hover {
  background-color: #ddd;
}

.buttonGroup div {
  flex-grow: 4;
}

.form {
  border-collapse: collapse;

}

.blogImg {
  width: 50%;
  text-align: center;
  margin: 2% auto;
}

.blogLink {
  text-decoration: none;
  color: purple;
}

.blogLink:hover {
  color: rgb(202, 8, 202);
}