/*Root Variables*/

:root {
  /* Foreground Colors */
  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2c5cb;
  --ctp-pink: #f5bde6;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-green-on: #23da12;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-blue: #89b4fa;
  --ctp-lavender: #b4befe;

  /* Text and Overlay Colors */
  --ctp-text: #cdd6f4;
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adcb;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;

  /* Background/Surface Colors */
  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;
  --ctp-base: #1e1e2e;
  --ctp-base-t: #1e1e2ee3;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;

  /* Footer */
  --footer-height: 50px;
}


/*Body style*/

* {
  box-sizing: border-box;
}

*::selection {
  background: var(--ctp-red);
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/Images/cafe.gif);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--ctp-surface1);
  padding-bottom: calc(var(--footer-height) + 0.5vh);
}

/*----------------------------------------------------------------------------*/

/*Navbar style*/

.navbar {
  overflow: hidden;
  background-color: var(--ctp-crust);
  position: relative;
  top: 0;
  width: 35%;
  border-radius: 10px;
  align-items: baseline;
}

.navbar div {
  margin: 4px;
}

.navbar div a {
  position: relative;
  float: right;
  color: var(--ctp-rosewater);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

/*navbar logo*/
#yappybara {
  margin: 5px;
  float: left;
  padding: 3px;
  border-radius: 10px;
}

.navbar a:hover,
#yappybara:hover {
  background: var(--ctp-rosewater);
  color: black;
  transition: all 0.3s ease;
}

/*----------------------------------------------------------------------------*/

/*Content box*/

.content {
  width: 35%;
  color: var(--ctp-rosewater);
  height: max-content;
  max-height: 150vh;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 0.5%;
  padding: 2% 3%;
  background-color: var(--ctp-base-t);
  display: flex;
  flex-direction: column;
}

/*----------------------------------------------------------------------------*/

/*Weblog page style*/

#weblogs {
  list-style-type: none;
  padding-left: 4%;
}

#weblogs li {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 5px;
}

#weblogs li a {
  text-decoration: none;
  margin-left: 5px;
  color: var(--ctp-rosewater);
}

#weblogs li span {
  display: flex;
}

#weblogs li span img {
  width: 20px;
}

#weblogs li:hover {
  background-color: var(--ctp-surface2);
  transition: all 0.3s ease;
}

#weblogs li:hover span {
  translate: -2px;
  transition: all 0.3s ease;
}

.blogImg {
  width: 90%;
  max-width: 700px;
  text-align: center;
  margin: 2% auto;
}

.resizedImg {
  margin: 2% 0;
}

.blogLink {
  text-decoration: none;
  color: var(--ctp-rosewater);
}

.blogLink:hover {
  color: var(--ctp-red);
}

/*----------------------------------------------------------------------------*/

/*Carousel style*/

.carousel {
  margin: 5% auto;
  width: 90%;
  display: flex;
  overflow-x: hidden;
  align-items: center;
}

.carouselGroup {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  animation: spin 10s infinite linear;
  padding-right: 5em;
}

.carouselItem {
  display: flex;
  margin: 0 0.5%;
  border: 2px var(--ctp-crust) solid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: var(--ctp-crust);
  background-color: var(--ctp-surface1);
  border-radius: 5px;
  flex: 0 0 auto;
  height: 5em;
  padding: 1em;
  font-size: 1em;
}

.carouselImg {
  width: 50px;
  margin: 5px;
  border: 2px var(--ctp-crust) solid;
  border-radius: 10px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carouselText {
  color: var(--ctp-rosewater);
}

.carouselImg>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel:hover .carouselItem {
  filter: brightness(70%);
  transition: all 0.3s ease;
}

.carousel:hover .carouselItem:hover {
  filter: none;
  transform: scale(1.02);
  background-color: var(--ctp-surface2);
  border: 2px var(--ctp-rosewater) solid;
  z-index: 10;
  transition: all 0.3s ease;
}

.carousel:hover .carouselGroup {
  animation-play-state: paused;
}

#help {
  text-align: center;
  margin: 1px auto;
}

/*----------------------------------------------------------------------------*/

/*Projects section style*/

.projects ol li a {
  text-decoration: none;
  color: var(--ctp-green);
}

.projects ol li a:hover {
  color: var(--ctp-green-on);
  transition: all 0.3s ease;
}

/*----------------------------------------------------------------------------*/

/*Services and socials style*/

.services,
.socials {
  display: flex;
  flex-wrap: wrap;
}

.social:hover {
  background-color: var(--ctp-surface0);
  transition: all 0.3s ease;
}

.service,
.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 5px;
  margin: 2px;
  background-color: var(--ctp-surface1);
  border-radius: 5px;
}

.social {
  border-radius: 10px;
}


.social a {
  text-decoration: none;
  color: white;
}

/*icon for the social and loader for service*/
.icon {
  width: 20px;
  height: 20px;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--ctp-green-on);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

.loader,
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
}

/*----------------------------------------------------------------------------*/

/*Form section style*/

.form {
  border-collapse: collapse;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin-bottom: 0;
  color: var(--ctp-rosewater);
  box-sizing: border-box;
  border: 2px solid var(--ctp-rosewater);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--ctp-crust);
  resize: none;
}

textarea:focus {
  border-color: var(--ctp-lavender);
  outline: none;
}

.buttonGroup {
  margin: 0;
  background-color: var(--ctp-crust);
  border: 2px solid var(--ctp-rosewater);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  display: flex;
}

.kaomoji-btn,
#send-btn {
  border-radius: 0;
  border-right: 2px solid var(--ctp-rosewater);
  background-color: var(--ctp-crust);
  color: white;
}

#send-btn {
  border: none;
  border-left: 2px solid var(--ctp-rosewater);
}

.kaomoji-btn:hover,
#send-btn:hover {
  background-color: var(--ctp-surface2);
  transition: all 0.3s ease;
}

.buttonGroup div {
  flex-grow: 4;
}

/*----------------------------------------------------------------------------*/

/*Footer style*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--ctp-mantle);
  color: var(--ctp-rosewater);
  text-align: center;
}

/*----------------------------------------------------------------------------*/

/*Animations*/

@keyframes spin {
  form {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*----------------------------------------------------------------------------*/

/*Responsive design*/

@media (max-width: 768px) {

  /* Remove the background image, use a solid color, and adjust padding */
  body {
    background-image: none;
    background-color: var(--ctp-surface1);
  }

  .navbar,
  .content {
    width: 95%;
    margin-top: 2%;
  }

}