{% extends "base.html" %} {% block content %}
<div class="content">
<h2>{{ page.title }}  <div class="back-btn"><a href="{{ get_url(path='@/blog/_index.md') }}"><img id="back" src="/Images/Icons/arrowL.png" alt=""></a></div> </h2>

<p class="subtitle"><strong>{{ page.date }}</strong></p>

{{ page.content | safe }}

{% if page.extra and page.extra.image_src %}
    <img src="{{ page.extra.image_src }}" alt="blog image" class="blogImg">
{% endif %}


{% if page.extra and page.extra.link %}
    <a class="blogLink" href="{{page.extra.link}}" target="_blank">{{page.extra.link_text}}</a>
{% endif %}
</div>

 {% endblock content %}
