{% extends "base.html" %} {% block content %}
<div class="content">

  <h3>Welcome to my blog written by Zola</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, sed
  non exercitationem accusantium vero possimus? Hic sint reprehenderit tempore
  cum ipsa natus porro laudantium eveniet. Consequuntur neque rem ipsa autem.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, asperiores. Sit
  aut fuga earum facere labore necessitatibus debitis consectetur eveniet
  suscipit atque eligendi impedit, inventore sunt ex dolor. Consectetur,
  error?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi aut
  velit, voluptatibus dolorem pariatur eum asperiores ducimus similique
  recusandae, repudiandae nobis! Ipsum quasi explicabo ad repudiandae fugiat,
  excepturi voluptas non. Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Quasi minima inventore unde laborum nobis, aliquam tempore est facere
  quae iusto et consequuntur ut delectus libero earum, placeat consectetur
  deserunt ipsam.</p>

</div>


<div class="content">
  {% include "partials/carousel.html" %}
</div>


<div class="content projects">
  {% include "partials/projects.html" %}
</div>

<div class="content">

  <h3>Yapping about something really 'intresting'</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, sed
  non exercitationem accusantium vero possimus? Hic sint reprehenderit tempore
  cum ipsa natus porro <strong>laudantium</strong> eveniet. Consequuntur neque rem ipsa autem.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, asperiores. Sit
  aut fuga earum facere labore <em>necessitatibus</em> debitis consectetur eveniet
  suscipit atque eligendi impedit, inventore sunt ex dolor. Consectetur,
  error?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi aut
  velit, voluptatibus dolorem pariatur eum asperiores ducimus similique
  recusandae, repudiandae nobis! Ipsum quasi explicabo ad repudiandae fugiat,
  excepturi voluptas non. Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Quasi minima inventore unde laborum nobis, aliquam tempore est facere
  quae iusto et consequuntur ut delectus libero earum, placeat consectetur
  deserunt ipsam.</p>

</div>

<div class="content">
    {% include "partials/services.html" %}
</div>

<div class="content">
  
  <h3>More Yapping</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, sed
  non exercitationem accusantium vero possimus? Hic sint reprehenderit tempore
  cum ipsa natus porro laudantium eveniet. Consequuntur neque rem ipsa autem.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, asperiores. Sit
  aut fuga earum facere labore necessitatibus debitis consectetur eveniet
  suscipit atque eligendi impedit, inventore sunt ex dolor. Consectetur,
  error?Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

</div>


<div class="content form">
  {% include "partials/form.html" %}
</div>

<div class="content">
  {% include "partials/socials.html" %}
</div>

{% endblock content %}
